@use 'vars.scss' as *;
section.products {
    background-color: transparent !important;
    grid-area: prod;
    h2.title {
        padding: $padding-sm;
        background-color: #eee;
        text-align: center;
        width: 100%;
    }
    div.products {
        display: flex;
        overflow: auto;
        .product {
            margin: $padding-sm $padding-md;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            cursor: pointer;
            transition: all .2s;
            position: relative;
            bottom: 0;
            &:hover {
                bottom: 10px;
            }
        }
        .product>div {
            display: flex;
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            padding: $padding-sm;
            background-color: #eee;
            width: 20em;
            height: 11em;
            div {
                width: 100%;
                padding: $padding-sm;
                p,
                span {
                    width: 100%;
                    height: fit-content;
                    text-align: center;
                }
            }
            span {
                width: 100%;
                text-align: center;
                font-size: .8em;
                margin: 0 1em .5em;
            }
        }
    }
}