@use 'vars.scss' as *;
section.results {
    grid-area: res;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
        width: 100%;
        padding: $padding-sm;
        background-color: #ddd;
        text-align: center;
    }
    .data {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .unit {
            width: calc(50% - 3em);
            padding: $padding-sm;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            transition: all .2s;
            position: relative;
            bottom: 0;
            margin: 1em 1.5em;
            cursor: pointer;
            &:hover {
                bottom: 5;
            }
            @include query(mobile) {
                width: 100%;
            }
            @include query(tablet) {
                width: 100%;
            }
            .container {
                width: 100%;
                height: 35vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
            }
            .info {
                background-color: #ddd;
                padding: $padding-md;
                width: 100%;
                p {
                    width: 100%;
                    text-align: center;
                    padding: $padding-sm / 2;
                    @include query(mobile) {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}

.block {
    display: flex !important;
}

.none {
    display: none !important;
}