@use 'vars.scss' as *;
* {
    font-family: Cairo, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

@include query(mobile) {
     :root {
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}

.app {
    margin: 2em 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'head head head head' 'hero hero hero hero' 'search search search search' 'res res res res' 'form form form form' 'cart cart cart cart' 'check check check check' 'main main main main' 'nav nav nav nav' 'prod prod prod prod' 'foot foot foot foot';
    @include query(mobile) {
        margin: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.comp {
    background-color: #eee;
    margin: .75em;
}

img.koshari,
img.bean,
img.salad {
    $d: 12em;
    width: $d;
    height: $d;
    @include query(mobile) {
        $d: 15em;
        width: $d;
        height: $d;
    }
}

section.abt {
    grid-area: nav;
    padding: $padding-md;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
        padding: $padding-sm;
        margin: 1em;
        p {
            font-size: 1.2em;
        }
    }
}

::-webkit-scrollbar {
    $d: 15px;
    width: $d;
    height: $d;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent-dark;
}

section.hero {
    grid-area: hero;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $padding-lg;
    h1,
    p {
        width: 100%;
        text-align: center;
    }
}