@use 'vars.scss' as *;
.cart-items {
    grid-area: cart;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    h2.title {
        width: 100%;
        padding: $padding-sm;
        text-align: center;
        background-color: #ddd;
        margin: 0 0 1em;
    }
    div.items {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%;
        .item {
            width: calc((100% / 2) - 4em);
            @include query(mobile) {
                width: 100%;
            }
            @include query(tablet) {
                width: 100%;
            }
            display: flex;
            justify-content: flex-end;
            align-content: flex-start;
            flex-wrap: wrap;
            margin: 2em;
            background-color: #ddd;
            transition: all .2s;
            position: relative;
            bottom: 0;
            opacity: .85;
            cursor: pointer;
            &:hover {
                bottom: 5;
                opacity: 1;
            }
            div {
                padding: $padding-sm;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                p,
                h2 {
                    width: 100%;
                    height: fit-content;
                    text-align: center;
                    padding: .25em;
                }
            }
            div.img-container {
                width: 100%;
                background-color: white;
                display: flex;
                align-content: center;
                justify-content: center;
            }
            button {
                padding: $padding-sm / 2;
                margin: 1em;
                border: none;
                cursor: pointer;
                color: white;
                background-color: $accent;
                transition: all .2s;
                &:hover {
                    background-color: $accent-dark;
                }
            }
        }
    }
}