@use 'vars.scss' as *;
.details {
    background-color: #ddd;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    height: 60%;
    @include query(mobile) {
        width: 65%;
        height: 55%;
    }
    padding: $padding-sm;
    .info {
        padding: $padding-sm;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        p {
            width: 100%;
            text-align: center;
            font-size: 1.2em;
        }
    }
    button {
        $d: 40%;
        padding: $padding-sm;
        margin: 1em 0;
        width: 40%;
        height: calc($d / 2);
        transition: all .2s;
        border: none;
        cursor: pointer;
        &:hover {
            color: #eee;
        }
    }
    .add {
        background-color: #eee;
        &:hover {
            background-color: $accent-dark;
        }
    }
    .exit {
        background-color: #eee;
        &:hover {
            background-color: $accent-sec-dark;
        }
    }
}