@use 'vars.scss' as *;
section.checkout {
    grid-area: check;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'h2 h2' 'form info';
    h2 {
        width: 100%;
        height: fit-content;
        text-align: center;
        padding: $padding-sm;
        background-color: #ddd;
        grid-area: h2;
    }
    p,
    h3 {
        width: 100%;
        height: fit-content;
        text-align: end;
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.5em;
        width: 75%;
    }
    p {
        margin: .5em 0;
    }
    div.current-items {
        grid-area: info;
        padding: $padding-lg;
        padding-top: $padding-sm;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    form {
        grid-area: form;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: $padding-lg;
        div {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        input,
        select {
            padding: $padding-sm;
            outline: none;
            border: 2px solid $accent;
            margin: 1em;
            width: 100%;
        }
        input[type="submit"] {
            border: none;
            background-color: $accent;
            color: white;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                background-color: $accent-dark;
            }
        }
    }
}